@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/montserrat/Montserrat-Bold.eot");
  src: local("☺"), url("../../../fonts/montserrat/Montserrat-Bold.woff") format("woff"), url("../../../fonts/montserrat/Montserrat-Bold.ttf") format("truetype"), url("../../../fonts/montserrat/Montserrat-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/montserrat/Montserrat-Medium.eot");
  src: local("☺"), url("../../../fonts/montserrat/Montserrat-Medium.woff") format("woff"), url("../../../fonts/montserrat/Montserrat-Medium.ttf") format("truetype"), url("../../../fonts/montserrat/Montserrat-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../../../fonts/montserrat/Montserrat-SemiBold.eot");
  src: local("☺"), url("../../../fonts/montserrat/Montserrat-SemiBold.woff") format("woff"), url("../../../fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype"), url("../../../fonts/montserrat/Montserrat-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, main, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.header__buy-cart-value-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__level-3-drop-down-list, .header__navigation-item, .header__level-1, ._header_buger-menu-item > a, ._header_buger-menu-item, .header__navigation-item._header_buger-menu-item > span, .flex-vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__buy-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__catalog-section, .header__level-3-drop-down-list-container, .header__havigation-list, .header__level-2-right-side-container, .header__level-2-left-side, .header__level-2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__level-2-right-side-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__level-3-drop-down-list, ._header_buger-navigation-menu {
  opacity: 0;
  visibility: hidden;
}

.header__level-3-drop-down-list._shown:hover, .header__level-3-drop-down-list._shown, ._header_buger-navigation-menu._shown {
  opacity: 1;
  visibility: visible;
}

.header__logo-link img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.header__buy-cart-link, .header__logo-link, ._header_buger-menu-item > a, .header__navigation-item._header_buger-menu-item > span {
  width: 100%;
  height: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
}

.content {
  padding: 0 0.9375rem;
  margin: 0 auto;
  max-width: 100rem;
}

._active {
  color: #E8AA31;
  border-bottom: 2px solid #E8AA31;
}

.header__navigation-item._header_buger-menu-item {
  width: 100%;
}
.header__navigation-item._header_buger-menu-item > span {
  padding-left: 1.25rem;
}

._header_buger-menu-item {
  position: relative;
  border-bottom: 1px solid #3d3d3d;
  height: 4rem;
  width: 100%;
}
._header_buger-menu-item > a {
  padding-left: 1.25rem;
}
._header_buger-menu-item > .right-arrow {
  content: "";
  position: absolute;
  top: 1.5625rem;
  right: 1.25rem;
  width: 0.875rem;
  height: 0.875rem;
  background: 0 0/100% 100% url("../../../img/icons/header/right.svg");
}

._header_buger-navigation-menu {
  display: block;
  -webkit-transform: translate(400px, 0);
          transform: translate(400px, 0);
  position: fixed;
  top: 9.8125rem;
  right: 0;
  color: white;
  width: 25rem;
  background-color: black;
  overflow-x: hidden;
}

._header_buger-navigation-menu._shown {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.header__burger-go-back {
  padding-left: 3.125rem;
  width: 100%;
  background: 1.25rem 50%/1.25rem 1.25rem url("../../../img/icons/header/arrow-left.svg") no-repeat;
}

._scroll-lock {
  overflow-y: hidden;
}

.header__level-1 {
  position: relative;
  z-index: 2;
  color: white;
  background-color: #141414;
  height: 4.375rem;
}
.header__level-1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  width: 100%;
}
.header__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
  height: 100%;
}
.header__about-item:hover {
  -webkit-text-decoration: underline solid 1px;
          text-decoration: underline solid 1px;
}
.header__personal-area {
  padding: 0.375rem 0 0.375rem 2.273125rem;
  font-size: 1.125rem;
  background: 0 50%/1.336rem 1.729rem url("../../../../img/icons/header/person_white.svg") no-repeat;
}
.header__personal-area:hover {
  -webkit-text-decoration: underline solid 1px;
          text-decoration: underline solid 1px;
}
.header__burger {
  display: none;
}
.header__burger-button {
  width: 1.75rem;
  height: 1.0625rem;
  background: 0 0/100% url("../../../../img/icons/header/burger.svg") no-repeat;
}
.header__level-2 {
  position: relative;
  z-index: 2;
  height: 5.625rem;
  background-color: #ECF1F2;
}
.header__level-2 .content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__level-2-left-side {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 45.3125rem;
}
.header__logo {
  margin-right: 1.875rem;
  width: 11.875rem;
  height: 2.653125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__logo-link {
  display: block;
  position: relative;
}
.header__search-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 23.5625rem;
  margin-right: 1.875rem;
}
.header__search-container {
  position: relative;
  display: inline-block;
  width: 100%;
}
.header__search {
  padding: 0.75rem 2.625rem;
  position: relative;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 2.5625rem;
  border: 1px solid rgba(4, 4, 4, 0.5);
  border-radius: 0.1875rem;
  background-color: rgba(7, 7, 7, 0.03);
}
.header__search-button {
  position: absolute;
  left: 1.25rem;
  top: 0.9375rem;
  width: 0.728125rem;
  height: 0.72625rem;
  background: 0 0/0.728rem 0.726rem url("../../../../img/icons/header/search.svg") no-repeat;
}
.header__level-2-right-side-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 38.8125rem;
}
.header__city {
  padding: 0.125rem 0 0.125rem 1.6875rem;
  margin-right: 0.9375rem;
  font-size: 1.125rem;
  font-weight: 600;
  background: 0 50%/1.063rem 1.526rem url("../../../../img/icons/header/geo_black.svg") no-repeat;
}
.header__level-2-right-side-body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 29.125rem;
}
.header__call {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.9375rem;
  font-size: 1.125rem;
}
.header__call-body {
  border-radius: 2px;
}
.header__call-tel {
  margin-bottom: 0.1875rem;
  position: relative;
  padding-right: 1.22375rem;
  font-weight: 600;
}
.header__call-tel::before {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0.0625rem;
  width: 0.59875rem;
  height: 0.986875rem;
  background: 100% 50%/0.599rem 0.987rem url("../../../../img/icons/header/bottom.svg") no-repeat;
}
.header__call-text {
  font-weight: 700;
  color: #E8AA31;
}
.header__call-text:hover {
  -webkit-text-decoration: underline solid 1px;
          text-decoration: underline solid 1px;
}
.header__call-icon {
  display: none;
  width: 1.420625rem;
  height: 1.5rem;
}
.header__favorite {
  width: 1.75rem;
  height: 1.66125rem;
  background: 0 0/100% url("../../../../img/icons/header/favorite_black.svg") no-repeat;
}
.header__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__buy-cart {
  margin: 0.9375rem;
  display: block;
  position: relative;
  width: 2.3125rem;
  height: 2.208125rem;
  background: 0 0/100% 100% url("../../../../img/icons/header/cart_black.svg") no-repeat;
}
.header__buy-cart-link {
  display: block;
}
.header__buy-cart-value-container {
  position: absolute;
  right: -0.375rem;
  top: -0.21875rem;
  font-size: 0.5rem;
  color: white;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 50%;
  background-color: #E8AA31;
}
.header__buy-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__buy-value {
  margin-bottom: 0.3125rem;
}
.header .header__buy-checkout {
  color: #E8AA31;
}
.header .header__buy-checkout:hover {
  -webkit-text-decoration: underline solid 1px;
          text-decoration: underline solid 1px;
}
.header__level-3 {
  position: relative;
  z-index: 2;
  font-size: 1.125rem;
  color: white;
  background-color: #141414;
}
.header__level-3 .header__navigation-item {
  cursor: pointer;
}
.header__navigation {
  max-width: 86.4375rem;
}
.header__navigation-item {
  white-space: pre-line;
  margin-right: 0.9375rem;
  height: 4.4375rem;
}
.header__navigation-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}
.header__level-3 .header__navigation-item:hover {
  color: #E8AA31;
  border-bottom: 2px solid #E8AA31;
}
.header__level-3-drop-down-list {
  padding: 1.875rem 0;
  margin-top: 0;
  position: fixed;
  left: 0;
  top: 230px;
  color: white;
  -webkit-transform: translate(0, -200px);
          transform: translate(0, -200px);
  width: 100vw;
  -webkit-box-shadow: 0px 4px 20px rgba(53, 53, 53, 0.18);
          box-shadow: 0px 4px 20px rgba(53, 53, 53, 0.18);
  background-color: #141414;
  min-height: 37.5rem;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.header__level-3-drop-down-list .content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.header__level-3-drop-down-list._shown {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.header__level-3-drop-down-list._shown:hover {
  -webkit-transform: translate(0);
          transform: translate(0);
}
.header__level-3-drop-down-list-container {
  position: relative;
  max-width: 86.4375rem;
}
.header__catalog-section {
  margin-right: 0.9375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__catalog-section:last-child {
  margin-right: 0;
}
.header__catalog-title {
  margin-bottom: 3.75rem;
  font-weight: 700;
}
.header__catalog-list {
  margin-bottom: 3.75rem;
}
.header__catalog-item {
  margin-bottom: 1.25rem;
}
.header__catalog-item:last-child {
  margin-bottom: 0;
}
.header__catalog-watch-all {
  color: #E8AA31;
}
.header__catalog-top-line {
  position: absolute;
  left: 0;
  top: 2.8125rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header__catalog-bottom-line {
  position: absolute;
  left: 0;
  bottom: 2.8125rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media (max-width: 81.25rem) {
  .header__level-2-right-side {
    min-width: 33.8125rem;
  }
}
@media (max-width: 1218px) {
  .header__about {
    gap: 2.5rem;
  }
  .header__catalog-top-line {
    top: 3.3125rem;
  }
}
@media (max-width: 63.75rem) {
  .header__about {
    gap: 1.875rem;
  }
  .header__navigation-item {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}
@media (max-width: 65.625rem) {
  .header__level-2 {
    z-index: 6;
  }
  .header__level-2-right-side {
    min-width: 17.8125rem;
  }
  .header__level-2-right-side-body {
    width: 10rem;
  }
  .header__call {
    position: relative;
  }
  .header__call-body {
    padding: 0.625rem;
    position: absolute;
    top: 2.375rem;
    right: 0;
    opacity: 0;
    visibility: hidden;
    color: white;
    width: 13.75rem;
    background-color: #141414;
    -webkit-box-shadow: 0px 4px 20px rgba(53, 53, 53, 0.18);
            box-shadow: 0px 4px 20px rgba(53, 53, 53, 0.18);
    z-index: 6;
  }
  .header__call-body._shown {
    opacity: 1;
    visibility: visible;
  }
  .header__call-icon {
    display: block;
    width: 1.75rem;
    height: 1.66125rem;
    background: 0 0/100% 100% url("../../../../img/icons/header/call-black.svg") no-repeat;
  }
  .header__buy-body {
    display: none;
  }
}
@media (max-width: 814px) {
  .header__about {
    gap: 1.25rem;
  }
  .header__catalog-top-line {
    top: 3.9375rem;
  }
}
@media (max-width: 48em) {
  .header__level-1 {
    z-index: 3;
  }
  .header__about {
    display: block;
    height: auto;
  }
  .header__about-item:hover {
    text-decoration: none;
  }
  .header__personal-area {
    background: 0 50%/1.336rem 1.729rem url("../../../../img/icons/header/person_black.svg") no-repeat;
  }
  .header__personal-area:hover {
    text-decoration: none;
  }
  .header__burger {
    display: block;
  }
  .header__burger-menu {
    position: fixed;
    top: 10rem;
    right: 0;
    z-index: 3;
  }
  .header__burger-menu-catalog span {
    display: block;
    padding-left: 1.25rem;
  }
  .header__burger-menu-catalog .header__havigation-list {
    display: block;
    z-index: 4;
  }
  .header__burger-menu-catalog .header__navigation-item {
    width: 100%;
  }
  .header__bugrer-last-list {
    z-index: 5;
  }
  .header__level-2 {
    z-index: 2;
  }
  .header__city {
    background: 0 50%/1.063rem 1.526rem url("../../../../img/icons/header/geo_white.svg") no-repeat;
  }
  .header__level-2-right-side {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
  .header__level-2-right-side-container {
    gap: 1.25rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
  .header__level-2-right-side-body {
    gap: 1.25rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    width: 11.5625rem;
  }
  .header__call-body {
    left: 0;
  }
  .header__call-icon {
    background: 0 0/100% 100% url("../../../../img/icons/header/call-white.svg") no-repeat;
  }
  .header__favorite {
    background: 0 0/100% url("../../../../img/icons/header/favorite_white.svg") no-repeat;
  }
  .header__buy-cart {
    background: 0 0/100% 100% url("../../../../img/icons/header/cart_white.svg") no-repeat;
  }
  .header__level-3 {
    display: none;
  }
  .header__navigation-item {
    height: 4rem;
  }
  .header__catalog-top-line {
    top: 3.9375rem;
  }
  .header__level-3-drop-down-list {
    display: none;
  }
}