.header {
    @media (max-width: calc_rem(1300)) {
        &__level-2-right-side {
            min-width: calc_rem(541);
        }
    }

    @media (max-width: 1218px) {
        &__about {
            gap: calc_rem(40);
        }
        &__catalog-top-line {
            top: calc_rem(53);
        }
    }

    @media (max-width: calc_rem(1020)) {
        &__about {
            gap: calc_rem(30);
        }
        &__navigation-item {
            width: min-content;
        }
    }

    @media (max-width: calc_rem(1050)) {
        &__level-2 {
            z-index: 6;
        }
        &__level-2-right-side {
            min-width: calc_rem(285);

        }
        &__level-2-right-side-body {
            width: calc_rem(160);
        }
        &__call {
            position: relative;

        }
        
        &__call-body {
            padding: calc_rem(10);
            position: absolute;
            top: calc_rem(38);
            right: 0;
            opacity: 0;
            visibility: hidden;
            color: white;
            width: calc_rem(220);
            background-color: $second_color;
            box-shadow: 0px 4px 20px rgba(53, 53, 53, 0.18);
            z-index: 6;
        }
        &__call-body._shown {
            opacity: 1;
            visibility: visible;
        }
        &__call-icon {
            display: block;
            width: calc_rem(28);
            height: calc_rem(26.58);
            background: 0 0/100% 100% url('../../../../img/icons/header/call-black.svg') no-repeat;
        }
        &__buy-body {
            display: none;
        }
    }

    @media (max-width: 814px) {
        &__about {
            gap: calc_rem(20);
        }
        &__catalog-top-line {
            top: calc_rem(63);
        }
    }
    @media (max-width: 48em) {
        &__level-1 {
            z-index: 3;
        }
        &__about {
            display: block;
            height: auto;
        }
        &__about-item {
            &:hover {
                text-decoration: none;
            }
        }
        &__personal-area {
            background: 0 50%/1.336rem 1.729rem url('../../../../img/icons/header/person_black.svg') no-repeat;

            &:hover {
                text-decoration: none;
            }
        }
        &__burger {
            display: block;

            & .header__havigation-list {}
        }
        &__burger-button {}
        &__burger-menu {
            position: fixed;
            top: calc_rem(160);
            right: 0;
            z-index: 3;
        }
        &__burger-menu-catalog {
            & span {
                display: block;
                padding-left: calc_rem(20);
            }

            & .header__havigation-list {
                display: block;
                z-index: 4;
            }

            & .header__navigation-item {
                width: 100%;
            }
        }
        &__bugrer-last-list {
            z-index: 5;
        }
        &__level-2 {
            z-index: 2;
        }
        &__city {
            background: 0 50%/1.063rem 1.526rem url('../../../../img/icons/header/geo_white.svg') no-repeat;
        }
        &__level-2-right-side {
            min-width: max-content;
        }
        &__level-2-right-side-container {
            gap: calc_rem(20);
            justify-content: start;
            flex-grow: 0;
        }
        &__level-2-right-side-body {
            gap: calc_rem(20);
            justify-content: start;
            width: calc_rem(185);
        }
        &__call-body {
            left: 0;
        }
        &__call-icon {
            background: 0 0/100% 100% url('../../../../img/icons/header/call-white.svg') no-repeat;
        }
        &__favorite {
            background: 0 0/100% url('../../../../img/icons/header/favorite_white.svg') no-repeat;
        }
        &__buy-cart {
            background: 0 0/100% 100% url('../../../../img/icons/header/cart_white.svg') no-repeat;
        }
        &__level-3 {
            display: none;
        }
        &__navigation-item {
            height: calc_rem(64);
        }
        &__catalog-top-line {
            top: calc_rem(63);
        }
        &__level-3-drop-down-list {
            display: none;
        }
    }
}