body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.content {
    padding: 0 calc_rem(15);
    margin: 0 auto;
    max-width: calc_rem(1600);
}

.flex-vertical-center {
    @extend %flex_vertical_center;
}

// ._hidden {
//     opacity: 0;
//     visibility: hidden;
// }

// ._shown {
//     opacity: 1;
//     visibility: visible;
// }

._active {
    color: $main_orange;
    border-bottom: 2px solid $main_orange;
}

.header__navigation-item._header_buger-menu-item {
    width: 100%;

    &>span {
        @extend %flex_vertical_center;
        padding-left: calc_rem(20);
        @extend %full_size;
    }
}

._header_buger-menu-item {
    position: relative;
    @extend %flex_vertical_center;
    border-bottom: 1px solid #3d3d3d;
    height: calc_rem(64);
    width: 100%;

    &>a {
        @extend %flex_vertical_center;
        padding-left: calc_rem(20);
        @extend %full_size;
    }

    &>.right-arrow {
        content: '';
        position: absolute;
        top: calc_rem(25);
        right: calc_rem(20);
        width: calc_rem(14);
        height: calc_rem(14);
        background: 0 0/100% 100% url('../../../img/icons/header/right.svg');
    }
}

._header_buger-navigation-menu {
    @extend %hide_block;
    display: block;
    transform: translate(400px, 0);
    position: fixed;
    top: calc_rem(157);
    right: 0;
    color: white;
    width: calc_rem(400);
    background-color: black;
    overflow-x: hidden;
}

._header_buger-navigation-menu._shown {
    @extend %show_block;
    transform: translate(0);
}

.header__burger-go-back {
    padding-left: calc_rem(50);
    width: 100%;
    background: 1.25rem 50%/1.25rem 1.25rem url('../../../img/icons/header/arrow-left.svg') no-repeat;
}

._scroll-lock {
    overflow-y: hidden;
}