body {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    height: 2000px;
}

.content {
    padding: 0 calc_rem(15);
    margin: 0 auto;
    max-width: calc_rem(1600);
}

.flex-vertical-center {
    @extend %flex_vertical_center;
}

// ._hidden {
//     opacity: 0;
//     visibility: hidden;
// }

// ._shown {
//     opacity: 1;
//     visibility: visible;
// }

._active {
    color: $main_orange;
    border-bottom: 2px solid $main_orange;
}